NODE_ENV=development
PORT=4000
HOST=0.0.0.0

DATABASE_URL="postgresql://postgres:1234@localhost:5432/djuntamon?schema=public"

JWT_SECRET=7cdffc3b2e7d9ca18ac353f32b20c839961617455fe4d6d5e0ed048c99c6a607ab41be38e35da6ab7f8c02e77476e651
JWT_EXPIRES_IN=7d

CORS_ORIGIN=http://localhost:3000

ADMIN_EMAIL=admin@djuntamon.cv
ADMIN_PASSWORD=TrocaEstaPassword123!
ADMIN_NAME="Administrador Djunta Mon"

RATE_LIMIT_MAX=100
RATE_LIMIT_WINDOW=1 minute